[submodule "trunk/cJSON/cJSON"]
	path = trunk/cJSON/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "trunk/json-c/json-c"]
	path = trunk/json-c/json-c
	url = https://github.com/json-c/json-c.git
